body{
    font-family: "Readex Pro", sans-serif;
}
.footer{
display: flex;
align-items: stretch;
background:  #CDB4DB;
}
.footer div{
    color: rgb(0, 0, 0);
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}
.footer h1{
    font-size: 50px;  
}
.midlle a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.end a{
font-size: 20px;
text-decoration: none;
color: black;
}
