* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.fnt-size-22 {
  font-size: 22px;
}
.lh-25 {
  line-height: 25px;
}
.my-30 {
  padding: 30px 0;
}
.hero-bg {
  background-color: #bde0fe;
}
.h-100vh {
  height: 100vh;
}
.hero-img {
  width: 400px;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-c2a {
  background-color: #9b51e0;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5rem;
  text-decoration: none;
  color: white;
}
.hero-h1 {
  font-size: 25px;
}
.hero-c2a-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.text-div {
  flex-direction: column;
  max-width: 500px;
  text-align: center;
}
.p-30 {
  padding: 30px;
}
.rounded {
  border-radius: 2rem;
}
header {
  background-color: #ffc8dd;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
}
.header-logo {
  top: 60px;
  width: 100px;
  margin-left: 30px;
}
.header-nav-lnks {
  top: 80px;
}
header div {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}
ul li {
  display: inline-block;
  margin: 0 2rem;
}
ul li a {
  text-decoration: none;
}
.align-center {
  align-items: center;
}
.d-inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
details summary {
  list-style: none;
}
summary {
  padding: 20px;
  margin: 2px 0;
  background-color: #9b51e0;
  color: white;
}
details p {
  padding: 20px;
  background-color: #ffc8dd;
}
.first-quest {
  border-radius: 1rem 1rem 0 0;
}
.faq-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
.faq-img {
  width: 350px;
  margin-top: 1px;
  padding-right: 5px;
}
.faq-div {
  flex-grow: 1;
  padding: 0 5px;
}
.prev-products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.prev-product {
  border: gray solid 1px;
  overflow: hidden;
  border-radius: 1rem;
  text-align: center;
  margin: 20px 0 20px 0;
  max-width: 350px;
  margin: 1rem 1rem;
}
.prev-img {
  width: 350px;
}
.prev-name {
  padding: 5px 0;
}
.prev-type {
  font-weight: 300;
  padding: 5px 0;
}
.prev-dicription {
  font-weight: 300;
  line-height: 25px;
  padding: 10px 5px;
}
.prev-visit {
  text-decoration: none;
  background-color: #9b51e0;
  color: white;
  display: inline-block;
  padding: 10px 20px;
  margin-bottom: 10px;
  border-radius: 2rem;
}
