* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}
.fnt-size-22 {
  font-size: 22px;
}
.lh-25 {
  line-height: 25px;
}
.my-30 {
  padding: 30px 0;
}
.hero-bg {
  background-color: #bde0fe;
}
.h-100vh {
  height: 100vh;
}
.hero-img {
  width: 400px;
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.hero-c2a {
  background-color: #9b51e0;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 5rem;
  text-decoration: none;
  color: white;
}
.hero-h1 {
  font-size: 25px;
}
.hero-c2a-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.text-div {
  flex-direction: column;
  max-width: 500px;
  text-align: center;
}
.p-30 {
  padding: 30px;
}
.rounded {
  border-radius: 2rem;
}
header {
  background-color: #ffc8dd;
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  padding: 5px;
}
.header-logo {
  top: 60px;
  width: 100px;
  margin-left: 30px;
}
.header-nav-lnks {
  top: 80px;
}
header div {
  align-items: center;
  display: flex;
  position: relative;
  justify-content: center;
}
ul li {
  display: inline-block;
  margin: 0 2rem;
}
ul li a {
  text-decoration: none;
}
.align-center {
  align-items: center;
}
.d-inline-block {
  display: inline-block;
}
.w-100 {
  width: 100%;
}
details summary {
  list-style: none;
}
summary {
  padding: 20px;
  margin: 2px 0;
  background-color: #9b51e0;
  color: white;
}
details p {
  padding: 20px;
  background-color: #ffc8dd;
}
.first-quest {
  border-radius: 1rem 1rem 0 0;
}
.faq-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 40px;
}
.faq-img {
  width: 350px;
  margin-top: 1px;
  padding-right: 5px;
}
.faq-div {
  flex-grow: 1;
  padding: 0 5px;
}
.cards-section {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
}
.cards-img {
  margin: auto;
  width: 100px;
  padding-bottom: 5px;
}
.cards {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px;
  text-align: center;
  position: relative;
}
.card-par {
  max-width: 300px;
  line-height: 25px;
}
.card-price {
  position: absolute;
  left: 0;
  background-color: purple;
  padding: 3px 10px;
  color: white;
  border-radius: 0 1rem 1rem 0;
}
.card-inp {
  display: block;
  margin: 10px 0;
  background-color: purple;
  color: white;
  padding: 3px;
  text-decoration: none;
  border-radius: 2rem;
}
.card-h1 {
  font-size: 25px;
}
.card-hr {
  height: 3px;
  border: none;
  background-color: #cdb4db;
  margin: 5px 0;
  opacity: 1;
  border-radius: 2px;
}
.prev-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: start;
}
.cards-img {
  margin: auto;
  width: 100px;
  padding-bottom: 5px;
}
.cards {
  padding: 20px;
  margin-top: 10px;
  border-radius: 10px;
  box-shadow: 0 0 1px;
  text-align: center;
  position: relative;
}
.card-par {
  max-width: 300px;
  line-height: 25px;
}
.card-price {
  position: absolute;
  left: 0;
  background-color: purple;
  padding: 3px 10px;
  color: white;
  border-radius: 0 1rem 1rem 0;
}
.card-inp {
  display: block;
  margin: 10px 0;
  background-color: purple;
  color: white;
  padding: 3px;
  text-decoration: none;
  border-radius: 2rem;
}
.card-h1 {
  font-size: 25px;
}
.card-hr {
  height: 3px;
  border: none;
  background-color: #cdb4db;
  margin: 5px 0;
  opacity: 1;
  border-radius: 2px;
}
.prev-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.prev-product {
  border: #9b51e0 1px solid;
  border-radius: 1rem;
  overflow: hidden;
  text-align: center;
  margin: 10px 0;
}
.prev-img {
  width: 300px;
  margin: auto;
}
.prev-dicription {
  max-width: 300px;
}
.prev-type {
  font-weight: 400;
}
.prev-visit {
  display: inline-block;
  padding: 10px 15px;
  background-color: #9b51e0;
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  margin: 10px 0;
}
body {
  font-family: "Readex Pro", sans-serif;
}
.footer {
  display: flex;
  align-items: stretch;
  background: #cdb4db;
}
.footer div {
  color: rgb(0, 0, 0);
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.footer h1 {
  font-size: 50px;
}
.midlle a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.end a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
